body {
    font-family: 'Arial', sans-serif;
    padding: 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1,
h2 {
    text-align: center;
    margin-top: 20px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

pre {
    background-color: rgba(245, 245, 245, 0.9);
    border: 1px solid #ddd;
    padding: 10px;
    overflow-x: auto;
    color: black;
}

code {
    font-family: 'Courier New', monospace;
    color: #d63384;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    border: 1px solid #ddd;
    margin: 10px;
}

a {
    color: #3498db;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}